---
import Main from '../layouts/Main.astro';
import { Content } from '../content/Content';
import { getRecentPosts, getTags } from '../utils/Content';
import { markdownToHtml } from '../utils/Markdown';

const contentMarkdown = String.raw`
### 自分について

- 中島 功人
- 男
- システムエンジニア(ほぼWeb系)
- 1993年(平成5年)2月15日生まれ (Perfumeあ～ちゃんと同じ日！)


### 連絡先

- email: [kn8263@gmail.com](mailto:kn8263@gmail.com)
- github: [kn8263](https://github.com/kn8263)


### 最終学歴

- キクチ眼鏡専門学校 眼鏡光学科卒業

### 実務経験のある主なプログラミング言語

- PHP
- TypeScript・JavaScript
- Python
- Ruby
- Rust（Windowsネイティブ向けアプリのみ）


### 実務経験のあるライブラリ・フレームワーク

- Laravel
- FastAPI
- Ruby on Rails
- React
- Vue.js
- Nuxt.js
- Express.js
- Solid.js
- Astro.js
- Tauri
- tailwindcss

### その他実務経験のある技術

- Docker
- Node.js
- Terraform
- AWS  
  Amazon EC2  
  Amazon DynamoDB  
  Amazon S3  
  Amazon SES  
  Amazon SQS  
  Amazon Route 53  
  Amazon CloudFront  
  Amazon Rekognition  
  Amazon EventBridge  
  AWS Lambda  

### 趣味

- Perfume推し活
- 筋トレ  
  BIG3 675kg (ベンチプレス: 175kg・スクワット: 220kg・デッドリフト: 280kg)
- 旅行
- キャンプ・ハイキング

### 好きなアニメ・映画など

- ちはやふる
- Rudy (ルディ涙のウイニングラン)

`;

const recents = getRecentPosts(['title', 'date', 'slug']);
const tags = getTags();
const contentHTML = await markdownToHtml(contentMarkdown);
---

<Main
	recents={recents}
	tags={tags}
	meta={{
		title: 'ポートフォリオ',
		description: 'ポートフォリオ',
	}}
>
	<h1 class="content-title">ポートフォリオ</h1>
	<Content client:load>
		<Fragment set:html={contentHTML} />
	</Content>
</Main>
